.game_library {
  display: flex;
  height: 100%;
  width: 100%;
}

.detail {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  padding: 30px;
}

.detail_top {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .edit_icon {
    font-size: 38px;
  }
}
